[submodule "themes/kiera"]
	path = themes/kiera
	url = https://github.com/avianto/hugo-kiera
[submodule "themes/hugo-bootstrap-premium"]
	path = themes/hugo-bootstrap-premium
	url = https://github.com/appernetic/hugo-bootstrap-premium
